{%  extends 'base.html.twig' %}

{% block title 'TravelNow::Acceuil' %}

{% block body %}


    <div>
        <img src="https://i.pinimg.com/originals/b4/4c/66/b44c665c88d2d14d1b4a6904bd133acb.gif" style="width: 100%"/>
    </div>




{% endblock %}