{% extends 'base.html.twig' %}

{% block title %}New Ville{% endblock %}

{% block body %}
    <style>
        body{background-color: #dfdfdf}
        table{text-align: center;}
    </style>
    <br><br>
    <h1>Create new Ville</h1>
<br>
    {{ include('ville/_form.html.twig') }}

    <a href="{{ path('ville_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
